<html>

<head>
    <title>
        Decode
    </title>
    <link href="style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap" rel="stylesheet">
</head>

<body>
    <nav>
        <div class="logo">
            <img src="./assets/slogo 1.png">
        </div>
        <ul class="nav-bar">
            <li>Home</li>
            <li>About</li>
            <li>Encode</li>
            <li>Decode</li>
        </ul>
    </nav>
    <div class="main">
        <h1>Decode Now.</h1>
        <p id="encode-message">Decode your encoded video with an ease.</p>
        <div class="encode-box">
            <button id="video-button">Place your video here </button>
        </div>
        <div class="encode-inputs">
            <form>
                <br>
                Your secret key: <input type="text"><br><br>
                <center><button id="encode-button">Decode</button> </center>
            </form>
        </div>
    </div>

</body>

</html>